
@font-face {
                          font-family: "ApexBrushDEMO-Regular";
                          src: url('../fonts/ApexBrushDemoRegular-V3Ay.otf') format("opentype");
                        }
                        
.cv {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 1860px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  -o-animation-delay  : 1.25s;
  animation-delay     : 1.25s;
}
@-webkit-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter1 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter1-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter1-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter1-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter1-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay  : 1.5s;
  animation-delay     : 1.5s;
}
@-webkit-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter1-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter2 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter2-frames 0.5s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter2-frames 0.5s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter2-frames 0.5s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter2-frames 0.5s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay  : 1s;
  animation-delay     : 1s;
}
@-webkit-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter2-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.cv .links {
  background-color    : rgba(255,255,255,0.0);
  top                 : 42px;
  height              : 28px;
  width               : 375px;
  position            : absolute;
  margin              : 0;
  left                : 597px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .links .linkedin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 124px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 18, 20, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 27.22px;
}
.cv .links .instagram {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 264px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 18, 20, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 27.22px;
}
.cv .links .medium {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Medium", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(18, 18, 20, 1.0);
  text-align          : center;
  letter-spacing      : 4.0px;
  line-height         : 27.22px;
}
.cv .logoshcopy2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : 67px;
  width               : 69px;
  position            : fixed;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .logoshcopy2 .rectangleleft {
  background-color    : rgba(62, 145, 255, 1.0);
  top                 : 8px;
  height              : 59px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .logoshcopy2 .rectangleright {
  background-color    : rgba(62, 145, 255, 1.0);
  top                 : 1px;
  height              : 59px;
  width               : 10px;
  position            : absolute;
  margin              : 0;
  left                : 48px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .logoshcopy2 .rectanglecenter {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 66px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .logoshcopy2 .rectangleleft1 {
  background-color    : rgba(255, 88, 88, 1.0);
  top                 : 48px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  border-radius       : 2px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.cv .logoshcopy2 .rectanglecenter1 {
  background-color    : rgba(62, 145, 255, 1.0);
  top                 : 26px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  border-radius       : 2px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.cv .logoshcopy2 .rectangleright1 {
  background-color    : rgba(255, 88, 88, 1.0);
  top                 : 4px;
  height              : 15px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  border-radius       : 2px;
  -ms-transform       : rotate(45deg); /* IE 9 */
  -webkit-transform   : rotate(45deg); /* Chrome, Safari, Opera */
  transform           : rotate(45deg);
}
.cv .rectangle {
  background-color    : rgba(255, 255, 255, 0.1);
  top                 : 263px;
  height              : 47px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 803px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .rectanglecopy {
  background-color    : rgba(255, 255, 255, 0.1);
  top                 : 263px;
  height              : 47px;
  width               : 50px;
  position            : absolute;
  margin              : 0;
  left                : 735px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .footer {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1605px;
  height              : 255px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .footer .atomscolorsblack {
  background-color    : rgba(62, 145, 255, 1.0);
  top                 : 0px;
  height              : 255px;
  width               : 1024px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .footer .madewithu2764berlin {
  background-color    : rgba(255,255,255,0.0);
  top                 : 198px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 464px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Black", Helvetica, Arial, serif;
  font-size           : 14.3px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  letter-spacing      : 0.63px;
  line-height         : 14.3px;
}
.cv .footer .madewithu2764berlin .span1 {
  line-height         : 14.01px;
}
.cv .footer .madewithu2764berlin .span2 {
  color               : rgba(255, 88, 88, 1.0);
  line-height         : 14.01px;
}
.cv .footer .madewithu2764berlin .span3 {
  font-family         : "ZapfDingbatsITC", Helvetica, Arial, serif;
  color               : rgba(255, 51, 51, 1.0);
  line-height         : 14.01px;
}
.cv .footer .madewithu2764berlin .span4 {
  line-height         : 14.01px;
}
.cv .footer .group6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : 35px;
  width               : 153px;
  position            : absolute;
  margin              : 0;
  left                : 829px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .footer .group6 .button {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 35px;
  width               : 153px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .footer .group6 .button .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 34px;
  width               : 152px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cv .footer .group6 .button .sayhi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 154px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 14.22px;
  color               : rgba(18, 18, 20, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.cv .footer .iturnthinkinginto {
  background-color    : rgba(255,255,255,0.0);
  top                 : 41px;
  height              : auto;
  width               : 484px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 27.0px;
}
.cv .footer .iturnthinkinginto .span1 {
  
}
.cv .footer .iturnthinkinginto .span2 {
  font-family         : "Avenir-Oblique", Helvetica, Arial, serif;
}
.cv .footer .contact {
  background-color    : rgba(255,255,255,0.0);
  top                 : 23px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 830px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "ApexBrushDEMO-Regular", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 51.0px;
}
.cv .downloadpdfversion {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 196px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Avenir-Heavy", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(255, 88, 88, 1.0);
  text-align          : center;
  line-height         : 30.0px;
  text-decoration     : underline;
}
.cv .bitmap {
  background-color    : rgba(255,255,255,0.0);
  top                 : 198px;
  height              : 1214px;
  width               : 858px;
  position            : absolute;
  margin              : 0;
  left                : 83px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-valign-text-middle {
  display             : flex;
  flex-direction      : column;
  justify-content     : center;
}